<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Nos desculpe! Estamos trabalhando para atende-los melhor.</h1>
    <p>Nossos escravos do TI estão trabalhando para resolver isso.</p>

<%- include('includes/end.ejs') %>